
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [273]:
import pandas as pd

In [274]:
# Change the path to the dataset file if needed. 
PATH = 'Resources/athlete_events.csv'

In [276]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [36]:
data_1996 = data[data.Year ==1996]
print('Youngest Male Participants in 1996 Olympics:')
print(data_1996[data_1996['Sex']=='M'][['Age','Sex']].describe().loc['min',:])
print(10 * '--')
print('Youngest Female Participants in 1996 Olympics:')
print(data_1996[data_1996['Sex']=='F'][['Age','Sex']].describe().loc['min',:])

Youngest Male Participants in 1996 Olympics:
Age    14.0
Name: min, dtype: float64
--------------------
Youngest Female Participants in 1996 Olympics:
Age    12.0
Name: min, dtype: float64

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

In [86]:
male_gymnast_2000_count = data[((data['Sport']=='Gymnastics') | (data['Sport']=='Rhythmic Gymnastics'))
                    & (data['Sex'] == 'M') & (data['Year'] == 2000) ]['ID'].count()
male_percentage = male_gymnast_2000_count / data[(data['Year']==2000) & (data['Sex']=='M')]['ID'].count()
print(f'The percentage of Male Gynmasts among all male participants in 2000 Olympics are {round(100*male_percentage,2)}%')

The percentage of Male Gynmasts among all male participants in 2000 Olympics are 7.65%

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [107]:
print('The mean and Standard Deviation of height for female basketball players in 2000 Olympics are:\n')
data[(data.Year ==2000) & (data.Sex =='F') & (data.Sport=='Basketball')].describe().iloc[1:3,2]

The mean and Standard Deviation of height for female basketball players in 2000 Olympics are:

mean    182.387324
std       9.139462
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [140]:
data_2002 = data[data.Year==2002]
max_weight_2002_person = data_2002[data_2002.Weight==data_2002.Weight.max()][['Name','Weight','Sport']]
max_weight_2002_person_list =max_weight_2002_person.values.tolist()[0]
max_weight_2002_person_list
print(f'Competitor {max_weight_2002_person_list[0]} had the highest weight of {max_weight_2002_person_list[1]} among the 2002 Olmypics. His participated in {max_weight_2002_person_list[2]}')

Competitor Emmanuel Hostache had the highest weight of 123.0 among the 2002 Olmypics. His participated in Bobsleigh

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [175]:
 pawe_participation = data.groupby(['Name','Year']).count().reset_index(level='Year').loc['Pawe Abratkiewicz'].count()[0]
print(f'Pawe Participated {pawe_participation} different olympics')

Pawe Participated 3 different olympics

3

In [161]:
data[data['Name'] =='Pawe Abratkiewicz']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
997,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Men's 500 metres,NaN
998,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1000,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN
1002,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 1,000 metres",NaN

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [193]:
data[(data['Year']==2000) &(data['Sport']=='Tennis') & (data['Team']=='Australia')].groupby('Medal').count().iloc[0,0]

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [215]:
data_2016 = data[data['Year']==2016]
medal_count = data_2016.groupby(['Team','Medal']).count().reset_index(level='Medal').loc[['Serbia','Switzerland'],:].loc[:,['Medal','ID']]
print(medal_count.groupby('Team').sum())
print('We observe Serbia has won more medals than Switzerland in 2016 Olympics')

             ID
Team
Serbia       54
Switzerland  11
We observe Serbia has won more medals than Switzerland in 2016 Olympics

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [225]:
data_2014 = data[data['Year']==2014].reset_index()
bins = [0,15,25,35,45,55,65,75,85]
data_2014['AgeGroups'] = pd.cut(data_2014['Age'],bins)

In [236]:
print(pd.DataFrame(data_2014.groupby('AgeGroups').count()['ID']))
print("We observe age group 55+ have fewest more participants in 2014 Olympics)")

             ID
AgeGroups
(0, 15]      10
(15, 25]   2412
(25, 35]   2281
(35, 45]    184
(45, 55]      4
(55, 65]      0
(65, 75]      0
(75, 85]      0
We observe age group 55+ have fewest more participants in 2014 Olympics)

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [247]:
print('Number of occurences of Lake Placid in the Summer Olympics:')
data_summer = data[data['Season']=='Summer']
print(data_summer[data_summer['City']=='Lake Placid'].count()[0])
print(30* '---')
print('Number of occurences of Lake Sankt Moritz in the Winter Olympics:')
data_summer = data[data['Season']=='Winter']
print(data_summer[data_summer['City']=='Sankt Moritz'].count()[0])

Number of occurences of Lake Placid in the Summer Olympics:
0
------------------------------------------------------------------------------------------
Number of occurences of Lake Sankt Moritz in the Winter Olympics:
1657

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [268]:
data_1995 = data[data['Year'] ==1995]
difference = len(data_2016['Sport'].unique()) - len(data_1995['Sport'].unique())

print(f'The absolute difference between unique sports between 1995 and 2016 is {difference}')

The absolute difference between unique sports between 1995 and 2016 is 34